<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0" />
    <title>mongo-test</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/highlight.css" media="all" />
</head>
<body>
    <a href='/'>home</a>&nbsp;
    <a href='/any'>any schema test</a>&nbsp;
    <a href='/wrongSchema'>wrong schema test</a>
    <a href='/clear'>clear data</a>&nbsp;
    <br/>
    <br/>
    <div>
        <%- title %>
    </div>
    <div><code><pre><%- code %></pre></code></div>
    <div><code>
        <%- data %>
    </code></div>
</body>
</html>

